@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>BI Admin Tool</title>
    <meta name="description" content="BI Admin tool">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Plugins Styles(used by rendered page) -->
    @*<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />*@
    @RenderSection("css", required: false)

    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.mmm.min.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/images/MMM-favicon.ico" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    @await Html.PartialAsync("partials/_header-mobile")
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside Menu -->
            @await Component.InvokeAsync("Aside")
            <!-- end:: Aside Menu -->

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                @await Component.InvokeAsync("Header")
                <!-- end:: Header -->

                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    @await Html.PartialAsync("partials/_subheader")
                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        @RenderBody()
                    </div>
                    <!-- end:: Content -->
                </div>

                @*@await Html.PartialAsync("partials/_footer")*@

            </div>
        </div>
    </div>
    <!-- end:: Page -->
    @*@await Html.PartialAsync("partials/_quickpanel")*@
    @await Html.PartialAsync("partials/_scrolltop")
    @*@await Html.PartialAsync("partials/_stickytoolbar")*@
    @*@await Html.PartialAsync("partials/_demopanel")*@
    @*@await Html.PartialAsync("partials/_chat")*@



    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#2c77f4",
                        "light": "#ffffff",
                        "dark": "#282a3c",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995"
                    },
                    "base": {
                        "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                        "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                    }
                }
            };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by the rendered page page) -->
    @RenderSection("vendors", required: false)
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->

    @RenderSection("scripts", required: false)

    <!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>